<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Página personal</title>
</head>
<body>

    <main>
        <h1>Katia Álvarez Rodríguez</h1>
        <img width="100px" src="../assets/kat.jpg" alt="">
        
        <hr>
        <h2>Intereses</h2>
            <ul type="circle">
                <li>Música</li>
                <li>Bailar</li>
                <li>Cine</li>
            </ul>

        <hr>
        <a href="https://www.youtube.com/watch?v=tAGnKpE4NCI">Canción fav </a>
        <hr>
        <a href="tel:5581982050">Contacto</a>
        <a href="producto.html">Visita mi página de postres</a>

    </main>
    
</body>
</html>