<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <!-- Enlazar archivo css -->
    <link rel="stylesheet" href="style.css">

</head>
<body>

    <!-- Elemento en bloque -->
    <h1>Titulo</h1>
    <p>Hola</p>

<hr>
    <!-- En línea -->

    <span>Hola</span>
    <img src="../assets/giglipop.png" alt="" srcset="">

    <a href="https://www.youtube.com/">YouTube</a>
    <a href="../index.html">YouTube</a>

    <!-- Listas ordenadas -->

    <ol>
<li>Primero</li>
<li>Segundo</li>
<li>Tercero</li>
<li>Cuarto</li>
    </ol>

    <!-- Listas no ordenadas -->

    <ul>
        <li>Primero</li>
        <li>Segundo</li>
        <li>Tercero</li>
        <li>Cuarto</li>
    </ul>

    <!-- CSS en el documento -->

    <style>
        body{
            background-color: aquamarine;
        }
    </style>

    <div>

    </div>

    <!-- JavaScript en el documento -->

    <script>
        alert("Hola mundo")
    </script>

    <!-- Enlazar un archivo de javascript -->

    <script src="assets/js/main.js"></script>
    
</body>
</html>