h1{
    text-align: center;
}

.formulario{
    border: 10px solid blueviolet;
    padding: 10px;
    background-color: rgb(204, 167, 239);
    width: 300px;
    margin: 0 auto;
}

.nombreColor{
    background-color: violet;
    border: none;
    margin-bottom: 10px;
    display: ;
    width: 100px;
}

.btnEnviar{
    background-color: rgb(45, 52, 169);
    border: none;
    color: white;
    padding: 5px 20px;
    border-radius: 5px;
}

.acomodoLabel{
    display: inline-block;
    width: 100px;
}
